@use "variables";
@use "layout/hero";
@use "layout/reason";
@use "layout/footer";
@use "layout/animations";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: variables.$fuente-principal;
}
